@import 'bower_components/bourbon/app/assets/stylesheets/_bourbon.scss';
@import url('https://fonts.googleapis.com/css?family=Aref+Ruqaa|Nunito+Sans');
 $colorDark: rgba (1,0,12,1);
 $colorMain: rgba (88,15,18,1);
 $colorMainDark: rgba (79,15,17,1);
 $colorGray: rgba (237,238,238,1);
 $colorDarkGray: rgba (140,140,140,1);
 $colorWhite: rgba (252,252,252,1);

$fontDefault: 'Aref Ruqaa', serif;
$fontLogo:'Nunito Sans', sans-serif; 
